.album{
    width: auto;
    text-align: center;
    margin: 10vh 4vw 10vh 4vw;
    padding: 15px;
    border: 3px dotted red;
    float: left;
    border-radius: 3%;
    background-color: #242227;
    color: white;
    display: grid;

}

#add{
    background-color: green;
    height: 490px;
}

.album > img{
    max-width: 100%
    height: auto;
}

li{
    font-size: 25px;
}

#albums{
    overflow: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

#albums .album {
    scroll-snap-align: center;
}